<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="public/css/styles.css" />
</head>
<body>
    <header>
        <div class="header-content">
            <img class="logo" src="/images/bahaypareslogo.png" alt="Logo">
        </div>
        <nav>
          <a href="/">Home</a>
          <a href="/AboutUs">About Us</a>
          <a href="/ContactUs">Contact</a>
        </nav>
    </header>
<body>




<section>
    <div class="main-content">
        <div class="welcome-signin-container">
            <div class="signin-login-section">
                <div class="login-section">
                  <h2>About Us</h2>
                  <div class="login-form">
                    <form id="loginForm">
                        <p>What is BAHAY PARES Tapsihan</p>
                        <p>A budget friendly fast food restaurant that can be found in Dasmarinas where are open daily from 10:00 AM to 12:00 mn with delivery
                          , pick-up and dining services. Especially having dine-in, outdoor seating and curbside pick-up included.
                           Food such as Chicken, Tocino, Pork Tapa, Chicken Bulaklak and Bagnet.</p>
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <h2>Bahay Pares restaurant Staffs</h2>
    <div class="menu-items-container">
        <div class="menu-item">
            <h2>Charlene Bondad</h2>
            <p class="title">Owner</p>
            <p>CharleneBondad@gmail.com</p>
            <nav>
              <a href="/ContactUs">Send Email</a>
            </nav>
        </div>
        <div class="menu-item">
            <h2>Hanieyah Mae Porras</h2>
            <p class="title">Manager</p>
            <p>HanieyahPorras@gmail.com</p>
            <nav>
              <a href="/ContactUs">Send Email</a>
            </nav>
        </div>
        <div class="menu-item">
            <h2>Danica Louis Corpuz</h2>
            <p class="title">Secretary</p>
            <p>DanicaCorpuz@gmail.com</p>
            <nav>
              <a href="/ContactUs">Send Email</a>
            </nav>
        </div>
    </div>
</section>

</body>
</html>
